.mains{
  margin: .5rem;}

.section-title {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  justify-content: space-between;
}
.card {
  list-style-type: none;
  margin: 2rem;
}

.card-title {
  font-size: 20px;
  font-weight: 600;

  text-align: center;
  margin-bottom: .5rem;
}

.card-image {
  margin-bottom: .5rem;
}

.card-footer {
  font-size: 15px;

  display: flex;
  justify-content: space-between;
}

.icon {
  position: relative;
  top: -4px;
}

.stock {
  display: flex;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchBox{
  display: flex;
  justify-content: end;
  padding: 10px;
}

.searchIcon{
  margin-right: 10px ;
}

